# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# Logs
logs/
*.log

# Database Backups
backups/

# Local SQLite database
data/

# Generated Reports
reports/
exports/

# IDE
.vscode/
.idea/

# PyInstaller
build/
dist/
*.spec

# OS
.DS_Store
Thumbs.db

backups/